* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 260px;
    min-width: 260px;
    background: #1b1b1b;
    padding: 20px;
    border-right: 1px solid #333;

    display: flex;
    flex-direction: column;
    gap: 12px;

    overflow-y: auto;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar button {
    padding: 12px;
    background: #2a2a2a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;

    text-align: left;

    font-size: 16px;
}

.sidebar button:hover {
    background: #444;
}

.content {
    flex: 1;
    background: #181818;
    overflow: hidden;
}

#projectFrame {
    width: 100%;
    height: 100%;
    border: none;
    background: white;
}

/* =========================
   MOBILE VERSION
========================= */

@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        min-width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #333;
    }

    .content {
        flex: 1;
        height: 100%;
    }

    #projectFrame {
        width: 100%;
        height: calc(100vh - 320px);
    }
}